html,
body {
    margin: 0;
    font-family: Comic Sans MS;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    width: 876px;
    height: 640px;
    padding-left: 80px;
    margin: 0;
}

#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}

#nickWrapper {
    display: none;
}

.banner {
    height: 20px;
    width: 100%;
}

#status {
    color: #fff;
    font-family: Comic Sans MS;
}

.banner p {
    float: left;
    display: inline-block;
}

.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}

#historyMsg {
    width: 800px;
    max-width: 800px;
    height: 450px;
    background-color: #fff;
    overflow: auto;
    border-radius: 10px;
    padding: 2px;
}

#historyMsg img {
    max-width: 99%;
}

.timespan {
    color: #ddd;
}

.items {
    height: 30px;
}

#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}

#nicknameInput {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#loginBtn {
    width: 90px;
    height: 32px;
    margin-top: 15px;
}

.control-label {
    margin-right: 223px;
    font-family: Comic Sans MS;
    font-size: 15px;
}

.imageLable {
    position: relative;
}

#sendImage {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

#messageInput {
    width: 700px;
    max-width: 700px;
    height: 90px;
    max-height: 90px;
    border-radius: 10px;
    margin-top: 5px;
    /*float:left;*/
}

#colorStyle {
    width: 80px;
    height: 30px;
}

#image_B {
    width: 80px;
    height: 30px;
}

#emoji {
    width: 80px;
    height: 30px;
}

#clearBtn {
    width: 80px;
    height: 30px;
}

#sendBtn {
    width: 90px;
    height: 30px;
    margin-top: 60px;
    float: right;
}

#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}

#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}

#emojiWrapper img:hover {
    background-color: blue;
}

.emoji {
    display: inline;
}